<div class="row d-flex flex-column align-items-center mt-5">
  <a [routerLink]="['/']" class="offset-11 offset-md-9 offset-lg-6"><mat-icon class="text-white">close</mat-icon></a>
  <div class="col-10 col-md-7 col-lg-5">
      <h1 class="mat-title text-green">Password recovery</h1>
      <p>Enter your e-mail address and we'll send you message so you can set a new password.</p>
  </div>
  <form [formGroup]="userData" (ngSubmit)="onSubmit()" class="col-10 col-md-7 col-lg-5">
    <mat-form-field appearance="standard" color="accent" class="w-100">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" type="text" formControlName="userEmail">
        <mat-error *ngIf="!userData.value.userEmail">
            E-mail is required
        </mat-error>
        <mat-error *ngIf="!userData.value.userEmail.valid && userData.value.userEmail">
            E-mail must be valid
        </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-end">
        <button mat-raised-button type="submit" [disabled]="!userData.valid" color="primary">Recover Password</button>
    </div>
      
  </form>
</div>



