<div class="d-flex flex-column flex-column-reverse">
    <form [formGroup]="contactData" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col-12 col-md-6">
                <mat-form-field appearance="standard" color="accent" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" type="text" formControlName="name">
                    <mat-error *ngIf="!name">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6">
                <mat-form-field appearance="standard" color="accent" class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" type="text" formControlName="email">
                </mat-form-field>
            </div>
            
            <div class="col-12 col-md-6">
                <mat-form-field appearance="standard" color="accent" class="w-100">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" type="text" formControlName="phone">
                </mat-form-field>
            </div>

            <div class="col-12 col-md-6">
                <mat-form-field appearance="standard" color="accent" class="w-100">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" type="text" formControlName="address">
                </mat-form-field>
            </div>

            
            <div class="col-12">
                <mat-form-field appearance="standard" color="accent" class="w-100">
                    <mat-label>Notes</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" placeholder="Notes" formControlName="notes"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <mat-icon color="accent">star_outline</mat-icon>
            </div>
            
            <div class="col-6 d-flex justify-content-end" *ngIf="!contactObject">
                <button mat-raised-button type="submit" [disabled]="!contactData.valid" color="primary">Add Contact</button>
            </div>

            <!-- POR HACER: MODIFICAR LA FUNCIONALIDAD DEL SUBMIT DEPENDIENDO DE SI CONTACT OBJECT EXISTE -->

            <div class="col-6 d-flex justify-content-end" *ngIf="!!contactObject">
                <button mat-raised-button type="submit" [disabled]="!contactData.valid" color="primary">Update Contact</button>
            </div>
        </div>
    </form>


    <div class="d-flex justify-content-end">
        <button mat-icon-button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
    </div>
</div>        
        
        
        
        