<div class="row d-flex justify-content-center mt-5">
  <div class="col-12 col-md-10 col-xl-8">
    <mat-tab-group mat-stretch-tabs dynamicHeight color="accent">
        <mat-tab label="Register">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8">
              <register-form></register-form>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Log In">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-8">
                <login-form></login-form>
              </div>
            </div>
        </mat-tab>
    </mat-tab-group>
  </div>
</div>