<div class="table">
  <div class="table__header">
    <div class="row">
      <div class="col-10 col-md-4 col-lg-4">
        <p class="mat-small th__1">Name</p>
      </div>
      
      <div class=" d-none d-md-block col-md-4">
          <p class="mat-small th__2">E-mail</p>
      </div>
        
      <div class=" d-none d-md-block col-md-3">
          <p class="mat-small th__3">Phone</p>
      </div>
    </div>
  </div>

  <div class="table__body">
    <div *ngIf="contacts.length > 0">
      <div *ngFor="let contact of contacts" class="table__row">
        
        <div class="row table__row">

          <div class="col-10 col-md-4 col-lg-4">
              <div class="table__column mat-body-1">
                  {{contact.name}}
              </div>
          </div>
          

          <div class="col-4 d-none d-md-block">
              <div class="table__column mat-body-1">
                  {{contact.email}}
              </div>
          </div>
          

          <div class="col-4 col-md-3 d-none d-md-block">
              <div class="table__column mat-body-1">
                  {{contact.phone}}
              </div>
          </div>

          <div class="col-2 col-md-1 d-flex justify-content-end">
            <mat-icon color="accent" [matMenuTriggerFor]="menu">more_horiz</mat-icon>
            <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog(contact.id)"><mat-icon color="accent">visibility</mat-icon> View / Edit</button>
                  <button mat-menu-item><mat-icon color="accent">star_outline</mat-icon> Add To Favs</button>
                  <button mat-menu-item (click)="deleteContact(contact.id)"><mat-icon color="accent">delete_outline</mat-icon> Delete</button>
            </mat-menu>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="contacts.length === 0">
      <div class="row">
          <div class="col">
            <p class="mat-body-1 no-contacts d-flex align-items-center flex-column"><mat-icon class="sad mb-2">sentiment_very_dissatisfied</mat-icon>There's nobody here</p>
          </div>
      </div>
    </div>

  </div>
</div>

