<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 offset-md-3 col-xl-10 offset-xl-2">
      <top-menu (favsView)="favsEvent($event)"></top-menu>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-3 col-xl-2 mt-2">
        <app-modal></app-modal>
    </div>
    <div class="col-12 col-md-9 col-xl-10">
      <contact-list *ngIf="!favsView"></contact-list>
      <fav-list *ngIf="!!favsView"></fav-list>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>