/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./bootstrap-grid.css";

body{
    background-color: #424242;
    color: #fff;
    font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
}

.text-green{
    color:#69f0ae
}