<div class="row mt-3 d-flex justify-content-end">
    <div class="col">
        <user-info></user-info>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 col-md-3 col-xl-2 mt-4">
        <app-modal class="d-block"></app-modal>
    </div>
    <div class="col-12 col-md-9 col-xl-10 mb-md-5">
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <top-menu (favsView)="favsEvent($event)"></top-menu>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-md-end mt-1">
                <app-search></app-search>
            </div>
        </div>
      <contact-list *ngIf="!favsView"></contact-list>
      <fav-list *ngIf="!!favsView"></fav-list>
    </div>
</div>