<div class="row mt-3 d-flex justify-content-end">
    <div class="col">
        <user-info></user-info>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 col-md-3 col-xl-2 mt-4">
        <app-modal class="d-block"></app-modal>
    </div>
    <div class="col-12 col-md-9 col-xl-10 mb-5">
      <top-menu class="d-block mt-4 mb-2" (favsView)="favsEvent($event)"></top-menu>
      <contact-list *ngIf="!favsView"></contact-list>
      <fav-list *ngIf="!!favsView"></fav-list>
    </div>
</div>